.autocomplete {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;  
    height: 24px;  
}

.autocomplete > .dropdown{   
    
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
}

.autocomplete-container {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 99%;
    z-index: 9999;
    margin-left: 0;
    margin-right: 0;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
}
.autocomplete-container>ul {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete-container>ul>li {
    padding: 6px;
    padding-left: 1em;
    cursor: pointer;
}
 
.autocomplete-container>ul>li:hover,.autocomplete-container>ul>li.active {
    background-color: #5897fb;
    color: white;
}
.autocomplete-container>.search {
    display: block;
    width: 98%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;    
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
    float: right;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}