$background-color:#fff;
$border-color:#ced4da;
$font-color:#212529;
.autocomplete {
	display: block;
	width: 98%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $font-color;
	background-color: $background-color;
	background-clip: padding-box;
	border: 1px solid $border-color;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	height: 24px;
	>.dropdown {
		box-sizing: border-box;
		display: block;
		position: absolute;
		left: -100000px;
	}
}
.arrow {
	position: relative;
	height: 15px;
	width: 15px;
	float: right;
	&::before {
		content: "";
		position: absolute;
		bottom: 0px;
		width: 0.15rem;
		height: 100%;
		transition: all 0.5s;
		left: -5px;
		transform: rotate(45deg);
		background-color: #394a6d;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0px;
		width: 0.15rem;
		height: 100%;
		transition: all 0.5s;
		left: 5px;
		transform: rotate(-45deg);
		background-color: #394a6d;
	}
}
.open {
	.arrow {
		&::before {
			left: -5px;
			transform: rotate(-45deg);
		}
		&::after {
			left: 5px;
			transform: rotate(45deg);
		}
	}
}
